absl-py==2.1.0
accelerate==1.3.0
addict==2.4.0
affiliation @ git+https://github.com/ahstat/affiliation-metrics-py.git@8d8449858096bbade6a6e70848d05c9cc9b846fe
aiofiles==23.2.1
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiohttp-cors==0.7.0
aioitertools==0.12.0
aiolimiter==1.2.1
aiosignal==1.3.2
aiosqlite==0.21.0
airportsdata==20241001
alembic==1.14.1
annotated-types==0.7.0
anthropic==0.45.2
antlr4-python3-runtime==4.7.2
anyio==4.8.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arize-phoenix==7.12.2
arize-phoenix-evals==0.20.3
arize-phoenix-otel==0.7.1
arrow==1.3.0
astor==0.8.1
asttokens==2.4.1
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==24.2.0
Authlib==1.4.1
babel==2.16.0
beautifulsoup4==4.12.3
bio==1.7.1
biopython==1.85
biothings_client==0.4.1
blake3==1.0.4
bleach==6.1.0
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1725267488082/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1733230610871/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1736337859595/work
cachetools==5.5.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
chess==1.11.1
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1734693717670/work
click==8.1.8
cloudpickle==3.1.1
cobble==0.1.4
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorful==0.5.6
comm==0.2.2
compressed-tensors==0.9.1
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1733564795535/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography-split_1737764779900/work
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.2.0
debugpy==1.8.7
decorator==5.1.1
deepeval==2.3.8
deepsearch-glm==1.0.0
defusedxml==0.7.1
Deprecated==1.2.18
depyf==0.18.0
dill==0.3.8
dirtyjson==1.0.8
diskcache==5.6.3
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1733238395481/work
distro==1.9.0
docling==2.23.0
docling-core==2.19.1
docling-ibm-models==3.3.2
docling-parse==3.3.1
docx2txt==0.8
duckduckgo_search==7.3.2
dulwich @ file:///home/conda/feedstock_root/build_artifacts/dulwich_1728583238659/work
e2b==1.1.0
e2b-code-interpreter==1.0.5
easyocr==1.7.2
editdistance==0.8.1
einops==0.8.1
et_xmlfile==2.0.0
-e git+https://github.com/modelscope/evalscope.git@8ac39ffbae9879f45e6c13624a76f66210c52e32#egg=evalscope
exceptiongroup==1.2.2
execnet==2.1.1
executing==2.1.0
fastapi==0.115.8
fastchat==0.1.0
fastjsonschema==2.20.0
ffmpy==0.5.0
filelock==3.16.1
filetype==1.2.0
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.9.0
future==1.0.0
gguf==0.10.0
google==3.0.0
google-ai-generativelanguage==0.6.6
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-genai==1.0.0
google-generativeai==0.7.2
google_search_results==2.4.2
googleapis-common-protos==1.67.0
gprofiler-official==1.0.0
gradio==5.16.0
gradio_client==1.7.0
graphql-core==3.2.6
greenlet==3.1.1
grpc-interceptor==0.15.4
grpcio==1.67.1
grpcio-status==1.63.0rc1
h11==0.14.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.4
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.28.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna==3.10
imageio==2.37.0
immutabledict==4.2.1
importlib_metadata==8.5.0
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1736252299705/work
iniconfig==2.0.0
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1733237321392/work
interegular==0.3.3
ipykernel==6.29.5
ipython==8.32.0
ipywidgets==8.1.5
isoduration==20.11.0
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1733325873251/work
jedi==0.19.1
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1649085214306/work
jieba==0.42.1
Jinja2==3.1.4
jiter==0.8.2
joblib==1.4.2
json5==0.9.25
jsonlines==3.1.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1728574826145/work
kiwisolver==1.4.7
langchain==0.3.19
langchain-community==0.3.17
langchain-core==0.3.35
langchain-openai==0.3.6
langchain-text-splitters==0.3.6
langdetect==1.0.9
langsmith==0.3.8
lark==1.2.2
latex2mathml==3.77.0
latex2sympy2==1.9.1
lazy_loader==0.4
litellm==1.61.3
llama-cloud==0.1.12
llama-cloud-services==0.6.1
llama-index==0.12.18
llama-index-agent-openai==0.4.6
llama-index-cli==0.4.0
llama-index-core==0.12.18
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.7
llama-index-llms-openai==0.3.20
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.5
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.1
lm-format-enforcer==0.10.10
loguru==0.7.2
lxml==5.3.1
Mako==1.3.9
mammoth==1.9.0
markdown-it-py==3.0.0
markdownify==0.14.1
marko==2.1.2
MarkupSafe==2.1.5
marshmallow==3.26.1
matplotlib==3.5.3
matplotlib-inline==0.1.7
mcp==1.2.1
mcpadapt==0.0.11
mdurl==0.1.2
mistral_common==1.5.3
mistune==3.0.2
modelscope==1.23.0
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1736883817510/work
mpire==2.10.2
mpmath==1.3.0
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1725974993022/work
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
mygene==3.2.2
mypy-extensions==1.0.0
narwhals==1.27.1
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.3
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numexpr==2.10.2
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
openai==1.63.0
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openinference-instrumentation==0.1.22
openinference-instrumentation-smolagents==0.1.5
openinference-semantic-conventions==0.1.14
openpyxl==3.1.5
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
orjson==3.10.15
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
partial-json-parser==0.2.1.1.post5
pathvalidate==3.2.3
patsy==0.5.6
pdfminer==20191125
pdfminer.six==20240706
pexpect==4.9.0
pillow==11.1.0
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1733734533957/work
platformdirs==4.3.6
plotly==6.0.0
pluggy==1.5.0
ply==3.11
poetry @ file:///home/conda/feedstock_root/build_artifacts/poetry_1733685567352/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1733215790644/work
poetry-plugin-export @ file:///home/conda/feedstock_root/build_artifacts/poetry-plugin-export_1733564883605/work
pooch==1.8.2
portalocker==3.1.1
primp==0.12.1
prometheus-eval==0.1.20
prometheus-fastapi-instrumentator==7.0.2
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.26.0
protobuf==5.29.3
psutil==6.0.0
ptyprocess==0.7.0
PubChemPy==1.0.4
pure_eval==0.2.3
puremagic==1.28
py-cpuinfo==9.0.0
py-spy==0.4.0
pyarrow==19.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybind11==2.13.6
pyclipper==1.3.0.post6
pycountry==24.6.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.6
pydantic-settings==2.7.1
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.18.0
Pympler==1.1
pyparsing==3.2.1
pypdf==5.3.0
PyPDF2==3.0.1
pypdfium2==4.30.1
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1733710025763/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
pytest==8.3.4
pytest-repeat==0.9.3
pytest-xdist==3.6.1
python-bidi==0.6.3
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.20
python-pptx==1.0.2
pytz==2024.2
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq==26.2.0
rank-bm25==0.2.2
RapidFuzz @ file:///home/conda/feedstock_root/build_artifacts/rapidfuzz_1738328922097/work
ray==2.42.1
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1733734787568/work
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rouge-chinese==1.0.3
rouge_score==0.1.2
rpds-py==0.20.0
rsa==4.9
Rtree==1.3.0
ruff==0.9.6
s5cmd==0.2.0
sacrebleu==2.5.1
safehttpx==0.1.6
safetensors==0.5.2
scikit-image==0.25.1
scikit-learn==1.5.2
scipy==1.15.1
seaborn==0.13.2
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1725915608929/work
semantic-version==2.10.0
semchunk==2.2.2
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.22.0
serpapi==0.1.5
shapely==2.0.7
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
simple-ddl-parser==1.7.1
simplejson==3.20.1
six==1.16.0
smart-open==7.1.0
smolagents==1.9.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soupsieve==2.6
SpeechRecognition==3.14.1
SQLAlchemy==2.0.38
sqlean.py==3.47.0
sse-starlette==2.2.1
stack-data==0.6.3
starlette==0.45.3
statsmodels==0.13.2
strawberry-graphql==0.253.1
striprtf==0.0.26
sympy==1.13.1
tabulate==0.9.0
tenacity==9.0.0
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2025.1.10
tiktoken==0.9.0
tinycss2==1.3.0
tokenizers==0.21.0
tomli==2.0.2
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1733230743009/work
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.3
transformers-stream-generator==0.0.5
triton==3.1.0
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1737019678787/work
tsfel==0.1.9
tsflex==0.4.1
tsfresh==0.8.1
typer==0.12.5
types-python-dateutil==2.9.0.20241003
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.3.0
uvicorn==0.34.0
uvloop==0.21.0
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1737145099697/work
vllm==0.7.2
watchfiles==1.0.4
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.2
widgetsnbextension==4.0.13
word2number==1.1
wrapt==1.17.2
xformers==0.0.28.post3
xgrammar==0.1.13
xlrd==2.0.1
XlsxWriter==3.2.2
xxhash==3.5.0
yarl==1.18.3
youtube-transcript-api==0.6.3
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
